@import url("https://fonts.googleapis.com/css?family=Roboto");

body {
    background-color: #f0f0f0;
    text-align: center;
    font-family: "Roboto", sans-serif;
}

#downloadChart, #uploadChart {
    height: 300px !important;
    width: 800px !important;
    scale: 0.5;
}

#container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 80%;
    text-align: center;
}


#start {
    height: 200px;
    width: 200px;
    border-radius: 100%;
    border: 2.5px solid green;
    color: green;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    justify-self: center;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    transition: .5s;
    transform-origin: center center;
}

#download, #upload, #pingResult, #results {
    transition: all 1s;
    position: absolute;
    transform: translate(-50%, -50%) scale(0);
    top: 50%;
    left: 50%;
    transform-origin: center center;
}

#downloadSpeed, #uploadSpeed, #downloadResult, #uploadResult, #pingFinal {
    line-height: 1.5em;
}

#pingResult {
    font-size: 22px;
}

@media only screen and (max-width: 600px) {
    #pingResult, #start {
        top: 60% !important;
    }

    #download, #upload, #results {
        top: 70% !important;
    }

    #downloadChart, #uploadChart {
        scale: 0.4 !important;
    }

    #downloadSpeed, #uploadSpeed {
        line-height: 1.5em;
        font-size: 12px;
    }
    
}